services:
  database:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASS:-mangos}"
      MYSQL_USER: "${DB_USER:-mangos}"
      MYSQL_PASSWORD: "${DB_PASS:-mangos}"
      MARIADB_ROOT_PASSWORD: "${DB_ROOT_PASS:-mangos}"
    ports:
      - "${DB_PORT:-3306}:3306"
    volumes:
      - "./data/database:/var/lib/mysql"

  realmd:
    build: 
      context: ./realmd
      args:
        - BUILD_PLAYERBOT=OFF
        - BUILD_AHBOT=OFF
        - BUILD_METRICS=OFF
    depends_on:
      - database
    environment:
      DB_HOST: "${DB_HOST:-database}"
      DB_PORT: "${DB_PORT:-3306}"
      DB_USER: "${DB_USER:-mangos}"
      DB_PASS: "${DB_PASS:-mangos}"
      DB_ROOT_PASS: "${DB_ROOT_PASS:-mangos}"
    ports:
      - 3724:3724
    volumes:
      - "./data/realmd_etc:/opt/cmangos/etc"
      - "/etc/localtime:/etc/localtime:ro"

  mangosd:
    build: #./mangosd
      context: ./mangosd
      args:
        - BUILD_PLAYERBOT=OFF
        - BUILD_AHBOT=OFF
        - BUILD_METRICS=OFF
    depends_on:
      - database
      - realmd
    tty: TRUE
    environment:
      DB_HOST: "${DB_HOST:-database}"
      DB_PORT: "${DB_PORT:-3306}"
      DB_USER: "${DB_USER:-mangos}"
      DB_PASS: "${DB_PASS:-mangos}"
      DB_ROOT_PASS: "${DB_ROOT_PASS:-mangos}"
      INSTALL_FULL_DB: "FALSE"
    # env_file:
    #   - ./.env
    ports:
      - 8085:8085
    volumes:
      - "./data/mangosd_etc:/opt/cmangos/etc"
      - "/etc/localtime:/etc/localtime:ro"
      - "./extracted-data:/opt/cmangos-data:ro"
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=0
      - PMA_HOST=database
    depends_on:
      - database